
.dark-mode {
  background-color: #1f2937; 
  color: white;
}


.dark-mode .card {
  background-color: #1f2937; 
  border-color: #374151;     
  color: white;               
}

.dark-mode .card * {
  color: white; /* force all child elements to white */
}

.button {
  @apply bg-blue-500 text-white px-4 py-2 rounded;
}
